.modal-button {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #323232;
  color: #bfbfbf;
  border: none;
  padding: 16px ;
}